.wrap {
    margin: 0;
    padding: 0;
    width: 100%;
}

.wrap header {
    width: 100%;
}


/* util menu */

.util-area {
    background: #eeeeee;
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    border-bottom: 2px solid #dbdbdb;
}

.util-area .util {
    width: 1100px;
    margin: 0 auto;
    text-align: right;
}

.util-area .util ul li {
    display: inline-block;
}

.util-area .util ul li a {
    border-right: 1px solid #cccccc;
    padding: 2px 7px;
    color: #515151;
}

.util-area .util ul li a:hover {
    color: red;
}

.util-area .util ul li:nth-child(5) a {
    border-right: 0;
}


/* gnb menu */

.nav-area {
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.nav-area .nav {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

.nav-area .logo-area {
    margin: 0;
    padding: 0;
    width: 87px;
    height: 104px;
    float: left;
    position: absolute;
    top: -25px;
    left: 0;
    z-index: 200;
}

.nav-area .gnb-area ul {
    float: left;
    margin-left: 92px;
    display: flex;
}

.nav-area .gnb-area ul li a {
    display: block;
    text-align: center;
    padding: 0 10px;
    color: #414141;
}

.nav-area .gnb-area ul li {
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.nav-area .gnb-area ul li .diff {
    color: red;
}

.nav-area .gnb-area ul li:hover {
    background: red;
}

.nav-area .gnb-area ul li:hover a {
    color: #ffffff;
}


/* contents */

.contents-area {
    width: 100%;
    background: yellow;
    clear: both;
}

.contents-area .visual {
    width: 1440px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.contents-area .visual ul {
    width: 7200px;
    position: absolute;
    z-index: 1;
}

.contents-area .visual ul li {
    float: left;
}

.contents-area .visual .slide-button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 180px;
    left: 0;
    z-index: 100;
}

.contents-area .visual .slide-button a {
    color: #ffffff;
    opacity: 0.5;
}

.contents-area .visual .slide-button a:hover {
    opacity: 1;
}

.contents-area .visual .slide-button .next {
    float: right;
}